@font-face {
	font-display: swap;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
	font-display: swap;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');

}

@font-face {
	font-display: swap;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/SFPRODISPLAYSEMIBOLD.OTF') format('opentype');

}

@font-face {
	font-display: swap;
	font-family: 'SF Pro Display';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('opentype');

}