@import "./animations";

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: "SF Pro Display", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.6rem;
	line-height: normal;
	font-weight: 400;
	background: #070606;
}

.container {
	@apply max-w-[129.6rem] mx-auto;

	&--large {
		@apply max-w-[136rem] mx-auto;

	}
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}